<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqb.website.mappers.ad.AdvertisingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqb.website.domains.ad.Advertising">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="site_id" property="siteId" />
        <result column="pic_path" property="picPath" />
        <result column="link" property="link" />
        <result column="sort_no" property="sortNo" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="is_enabled" property="isEnabled" />
    </resultMap>

    <resultMap id="SiteResultMap" type="com.wqb.website.commons.vo.AdvertisingVO" extends="BaseResultMap">
        <result column="siteName" property="siteName"/>
        <result column="platform" property="platform"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, site_id, pic_path, link, sort_no, start_time, end_time, is_enabled
    </sql>

    <sql id="Full_Column_List">
        <include refid="Base_Column_List"/>,site.name as siteName, site.platform
    </sql>

    <select id="selectAd" resultMap="SiteResultMap">
        select <include refid="Full_Column_List"/>
        from advertising ad
        join advertising_site site on ad.site_id=site.id
        where a.id = #{id}
    </select>

    <select id="selectAds" resultMap="SiteResultMap">
        select <include refid="Full_Column_List"/>
        from advertising ad
        join advertising_site site on ad.site_id=site.id
    </select>
</mapper>
